* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
}

input {
  border: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

img {
  max-width: 100%;
}

video {
  aspect-ratio: 16/9;
}
