@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
}

input {
  border: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

img {
  max-width: 100%;
}

video {
  aspect-ratio: 16/9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #03045e;
}
